<h1>Edit <%=@developer.name%></h1>

<h2> Please enter the Information you would like to edit below </h2>

<%= form_for @developer do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :ceo %>
    <%= f.text_field :ceo %>
    
    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.submit %>

<%end%>